<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <a href="/logout">Logout</a>
    </div>
    <h1>Hi, <%= username %></h1>
    <div class="tfa-switch">
        <div>
            <p>Enable/Disable Two Factor Authentication : </p>
        </div>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" >
            <label class="onoffswitch-label" for="myonoffswitch"></label>
        </div>
    </div>
    
</body>
</html>