<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <a href="/logout">Logout</a>
    </div>
    <h1>Hi, <%= username %></h1>
    <div class="tfa-switch">
        <div>
            <p>Enable/Disable Two Factor Authentication : </p>
        </div>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" >
            <label class="onoffswitch-label" for="myonoffswitch"></label>
        </div>
    </div>
    <div class="tfa-box">
        <h3>SETTING UP GOOGLE AUTHENTICATOR (OR OTHER TOTP APP)</h3>
        <hr>
        <p class="color-red">IMPORTANT, READ BEFORE CONTINUING: Please make sure that you have an email set in your account settings. If you don't have one and you lose access to your 2FA app for any reason, you won't be able to get back into your account. (I'm Kidding it's just a test ;) </p>
        <img src="http://via.placeholder.com/185x200" alt="">
        <p>Manual key entry: <b>HFETM3KULVAG6TSEEM5HG6KPNV5EUKSX</b></p>
        <p>To enable 2 Factor Authentication, scan the QR code above into your favourite authenticator app such as <b>Google Authenticator</b>  or <b>Authy</b> . Once done, enter the access token you get from the app into the text box below, it looks like <b>123456</b> .</p>
        
        <form action="">
            <label for="tfa-code"> <b>Your 2FA token from the app:</b> </label> <br>
            <input class="tfa-code-input" placeholder="e.g. 123446" type="text" name="tfa-code" id="tfa-code"> <br>
            <button class="btn-green" type="submit">Set Up 2FA</button> 
            <button class="btn-yellow" type="reset">Cancel</button>
        </form>
    </div>
    
</body>
</html>